
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

.MainIndex {
  background-color: hsl(210, 100%, 89%); /* Gris claro */
  color: #333333; /* Gris oscuro */
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
